
<link href="../css/form.css" rel="stylesheet" type="text/css">
<link href="../css/page.css" rel="stylesheet" type="text/css">


<section ng-controller="ExampleController">

		
	<div data-ng-show="!authentication.user">
        <form class="body-part">
            <div class="form-title"><h2>Welcome to Student Registration</h2></div>
            
		&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <a href="/signup" class="submit-button">Signup</a>
		<a href="/signin" class="submit-button">Signin</a>
        <form>
	</div>
	<div data-ng-show="authentication.user">
        <div class="body-button">
        <a href="/signout" class="submit-button">Signout</a>
     </div>
        
        
		<div class="body-hello">
            <h1>Welcome <span data-ng-bind="authentication.user.fullName"></span></h1>
		</div>
        
		
		
		<p class="work-show"> <a href="/#!/works">List Courses</a> </p>
		<p class="work-show1">	<a href="/#!/works/create">Create Course</a> </p>
	</div>
</section>